<div class="side_bar_module">
    <div class="logo_container">
        <a href="index.html"><img src="assets/cine_review.png" alt="logo" class="logo_img" width="200px"></a>
    </div>
    <nav class="filters_main_container">
        <div class="filters_container">
            <div class="filters"><h3>filtres</h3><img src="assets/arrow-big-right.svg" alt=""></div>
            <div class="filters_list">
                <ul>
                    <li class="filter_item"></li>
                    <li class="filter_item"></li>
                    <li class="filter_item"><a href="popular.html">Populaires</a></li>
                    <li class="filter_item"><a href="top_rated.html">Mieux notés</a></li>
                    <li class="filter_item"><a href="upcoming.html">Prochainement</a></li>
                </ul>
            </div>
        </div>

    </nav>
</div>
