

.film_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.film_card:hover {
    transform: scale(1.05);
    
}

.film_card {
    background-color: #292B31;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.5s;
}

.film_img {
<<<<<<< Updated upstream
    width: 100%;
=======
    z-index: 0;
    width: 80%;
>>>>>>> Stashed changes
    height: auto;
    border-radius: 10px;
}

.film_info {
    padding: 10px;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 10px;
}

.bouton_fetch{
    display: flex;
    justify-content: center;
    margin: 1em;
}

.bouton_fetch .bouton:hover {
    transform: scale(1.1);

}

.bouton {
    background-color: #292B31;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.5s;
}

.titre_container {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.titre {
    background-color: #787879;
    padding: 1em;
    border-radius: 10px;
}


