.container {
    display: grid;
    grid-template-columns: auto 1fr; /* Ajuste automatiquement la largeur de la première colonne */
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "main_sidebar search"
        "main_sidebar main";
    
    border-radius: 10px;
}

.logo_img {
    width: 100%; /* Le logo prendra toute la largeur de son conteneur */
    max-width: 150px; /* Définissez une largeur maximale pour le logo */
    min-width: 100px; /* Définissez une largeur minimale pour le logo */
    height: auto; /* Maintient le ratio d'aspect du logo */
    border-top-left-radius: 10px;
}

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.main_sidebar {
    grid-area: main_sidebar;
    display: flex;
    flex-direction: column;
    background-color: #292B31;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%; /* Assurez-vous que la hauteur de la sidebar prend toute la hauteur de la grille */
    max-width: 150px; /* Limitez la largeur maximale à celle du logo */
}

.main_content {
    grid-area: main;
    height: 100%; /* Assurez-vous que la hauteur du contenu principal prend toute la hauteur de la grille */
    background-color: #131417;

}

.search_bar_container {
    grid-area: search;
    display: flex;
    height: 82.46px;
    max-height: 109.95px; 
    width: 100%;
    background-color: #000;
    border-top-right-radius: 10px;
}

.search_bar {
    width: 100%;
    padding: 1em;
    margin: 1em;
    margin-left: 1em;
    background-color: #2B2B30;
    border-radius: 10px;

}

.film_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.film_card:hover {
    transform: scale(1.05);
    
}

.film_card {
    background-color: #292B31;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.5s;
}

.film_img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.film_info {
    padding: 10px;
    color: #fff;
}

.bouton_fetch{
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {

    .logo_img {
        max-width: 150px; /* Ajustez la largeur maximale pour les écrans plus petits */
        min-width: 100px; /* Ajustez la largeur minimale pour les écrans plus petits */
    }
    .main_sidebar {
        max-width: 150px; /* Ajustez la largeur maximale pour les écrans plus petits */
    }
}

@media (max-width: 480px) {
    
    .logo_img {
        max-width: 100px; /* Ajustez la largeur maximale pour les très petits écrans */
        min-width: 100px; /* Ajustez la largeur minimale pour les très petits écrans */
    }
    .main_sidebar {
        max-width: 100px; /* Ajustez la largeur maximale pour les très petits écrans */
    }
}
