.film_container{
    padding-left: 12px;
    padding-top: 12px;
    display: grid;
    grid-template-columns: 0.5fr 1fr ;
    grid-template-rows: auto;
    height: 75vh;
}

.film_container>div{
    padding: 10px;
    text-align: center;
}

#poster {
    grid-row: 1 / span 2;
    grid-column: 1/2;
    background-color: #292B31;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.5s;
    height: 95%;
}

#mini_plot,#desc{
    grid-column: 2 / 3;
    margin-left: 5px;
}

#desc{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    grid-row: 1/2;
    background-color: #3a3c42;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.5s;
    text-align: start;
} 

#score{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: auto;
}

#mini_plot {
    grid-row: 2 / 3;
    color: aliceblue;
}

#plot{
    grid-column: 1/ span 3;
    grid-row: 3;
    background-color: #3a3c42;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.5s;
    text-align: start;
    margin: 10px;
    color: aliceblue;
}